<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.js"></script>
    <script src="https://unpkg.com/vue@next"></script>

    <title>Document</title>
</head>
<body>
    <main>

        <div id="app">
            <div class="section" id="1"><h2>Vælg kommune</h2>
                <div class="list">
                    <ul>
                        <li>
                            <a href="#2">
                            <button @click="municipalityId=1" v-on:click="getAvgSquarePrice(municipalityId)" class="button">Roskilde</button>
                            </a>
                        </li>
                        <li>
                            <a href="#2">
                            <button @click="municipalityId=2" v-on:click="getAvgSquarePrice(municipalityId)" class="button">Frederiksberg</button>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section" id="2">
                <h2>Gennemsnitlig m² pris for kommunen</h2>
                <p>{{avgSquarePrice}} kr.</p>
                <h3>Indtast boligens m²</h3>
                <input v-model="sqm" placeholder="Kvm" type="number">
                <input v-model="constructionYear" placeholder="Byggeår" type="number">
                <input v-model="energyLabel" placeholder="Energimærke" type="text">
                <div class="list">
                  <ul>
                    <li>
                      <a href="#1"><button class="button">Tilbage</button></a>
                    </li>
                    <li>
                      <a href="#3"><button v-on:click="calculatePrice();getAvgSquarePrice(municipalityId)" class="button">Beregn</button></a>
                    </li>
                  </ul>
                </div>      
              </div>
            <div class="section" id="3">
                <h2>Boligens vurdering</h2>
                <p>{{calculatedPrice}} kr.</p>
                <div class="list">
                    <ul>
                        <li>
                            <a href="#2"><button class="button">Tilbage</button></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
    <script src="js/index.js"></script> 
</body>
</html>